@import "tailwindcss";


body {
  overflow: hidden;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar {
  scrollbar-width: thin;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 20px;
}

::-webkit-scrollbar-track-piece {
  border-radius: 6px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* Style the dropdown container */
/* .filter-dropdown {
  position: absolute;
  background-color: #5976AA;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */

/* Style the checkbox container */
.checkbox-container {
  display: flex;
  flex-direction: column;
}

/* Style the checkboxes */
.checkbox-label {
  margin-bottom: 5px;
  cursor: pointer;
}

/* Style for the filter icon */
.filter-icon {
  cursor: pointer;
}

/* Optional: Add a margin to the filter icon */
.filter-container {
  margin-right: 10px;
}

/* Make the th relative for positioning the icon inside it */
th.relative {
  position: relative;
}

/* thead{
  min-width: 15vw;
} */

/* Position the filter icon inside the header */
.filter-icon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  /* Position icon at the right end */
  top: 80%;
  /* Vertically center the icon */
  transform: translateY(-50%);
  /* Adjust the vertical alignment */
}

/* Style the filter dropdown */
.filter-dropdown {
  position: absolute;
  right: 0;
  background-color: #012150;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}

/* Style the checkbox container */
.checkbox-container {
  display: flex;
  flex-direction: column;
}

/* Style the checkboxes */
.checkbox-label {
  margin-bottom: 5px;
  cursor: pointer;
}

/* Optional: Add a margin to the filter icon */
.filter-container {
  padding-right: 30px;
  /* Make space for the filter icon */
}

#dataTable thead tr th:nth-child(1) {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

#dataTable thead tr th:last-child {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
}

#dataTable thead tr th:last-child div {
  border: none;
}

.pagination-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 5px 10px;
  color: #333;
}

.pagination-btn:disabled {
  color: #ccc;
  cursor: not-allowed;
}

#pagination span {
  margin: 0 10px;
  font-weight: bold;
  font-size: 14px;
  color: #333;
}


#dataTable thead {
  z-index: 80;
}

.pointing {
  cursor: pointer;
}

.ground {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 6rem;
  /* Increased width for text */
  height: 2rem;
}

.ground .input {
  opacity: 0;
  width: 0;
  height: 0;
}

.input {
  background-color: #009D9C;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.interchange {
  width: 4.85rem;
  height: 2.2rem;
  position: relative;
  border-radius: 3rem;
  padding: 2px 10px;
  cursor: pointer;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.Qual,
.Quant {
  color: white;
}

.Qual {
  transform: translateX(-1rem);
}

.interchange::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #012150;
  position: absolute;
  left: 0;
  border-radius: 2rem;
  transition: all 0.55s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.ground input[type="checkbox"]:checked+.interchange::before {
  transform: translateX(2.3rem);
}

.ground input[type="checkbox"]:checked+.interchange .Quant {
  visibility: hidden;
}

.ground input[type="checkbox"]:not(:checked)+.interchange {
  background-color: #939393;
}

.ground input[type="checkbox"]:not(:checked)+.interchange .Qual {
  visibility: hidden;
}

.ground input[type="checkbox"]:checked+.interchange .Qual {
  visibility: none;
}

.ground input[type="checkbox"]:checked+.interchange {
  background-color: #939393;
}

.ground input[type="checkbox"]:not(:checked)+.interchange .Quant {
  visibility: none;
}

sup {
  font-size: 0.6em;
  vertical-align: super;
}

.glit {
  background: rgb(1, 33, 80);
  background: linear-gradient(95deg, rgba(1, 33, 80, 1) 0%, rgba(10, 79, 203, 1) 41%, rgba(1, 33, 80, 1) 100%);
}

.fwr_shadow {
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
}

audio {
  height: 40px;
  width: 300px;
}

.react-select__control {
  border-radius: 0.375rem;
  /* rounded-md */
  border-color: #d1d5db;
  /* Tailwind gray-300 */
}

.interchange10 {
  width: 4.85rem;
  height: 2.2rem;
  position: relative;
  border-radius: 3rem;
  padding: 2px 10px;
  cursor: pointer;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.Qual,
.Quant {
  color: white;
}

.Qual {
  transform: translateX(-1rem);
}

.interchange10::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #012150;
  position: absolute;
  transform: translateX(2.3rem);
  left: 0;
  border-radius: 2rem;
  transition: all 0.55s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.ground10 input[type="checkbox"]:checked+.interchange10::before {
  transform: translateX(0rem);
}

.ground10 input[type="checkbox"]:checked+.interchange10 .Quant {
  visibility: hidden;
}

.ground10 input[type="checkbox"]:not(:checked)+.interchange10 {
  background-color: #939393;
}

.ground10 input[type="checkbox"]:not(:checked)+.interchange10 .Qual {
  visibility: hidden;
}

.ground10 input[type="checkbox"]:checked+.interchange10 .Qual {
  visibility: none;
}

.ground10 input[type="checkbox"]:checked+.interchange10 {
  background-color: #939393;
}

.ground10 input[type="checkbox"]:not(:checked)+.interchange10 .Quant {
  visibility: none;
}

.new_shadow {
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.clrgrad {
  background: linear-gradient(90deg, #704c00 -65.89%, #c0860c 46.96%, #704c00 162.25%);
}

#Line .echarts-for-react {
  height: 390px !important;
}

/* Target the value container (which scrolls horizontally) */
.react-select__value-container::-webkit-scrollbar {
  height: 0px;
  /* Hide horizontal scrollbar height */
}

.react-select__value-container::-webkit-scrollbar-track {
  background: transparent;
}

.react-select__value-container::-webkit-scrollbar-thumb {
  background: transparent;
}

.dd {
  display: none;
}